html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;  
  overflow-y: auto;    
  scroll-behavior: smooth;
}

.app_projecttest{
    background: linear-gradient(
    135deg,
    rgba(17, 17, 17, 0.95) 0%,
    rgba(25, 25, 45, 0.9) 30%,
    rgba(35, 35, 65, 0.85) 70%,
    rgba(40, 40, 70, 0.9) 100%
  );
}
.app_body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   background: linear-gradient(
    135deg,
    rgba(17, 17, 17, 0.95) 0%,
    rgba(25, 25, 45, 0.9) 30%,
    rgba(35, 35, 65, 0.85) 70%,
    rgba(40, 40, 70, 0.9) 100%
  );
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: rgba(162, 163, 163, 0.8); 
  border-radius: 10px;
  transition: background-color 0.3s ease;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgba(249, 250, 252, 0.9); 
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
}
